
.weather-header {
background: linear-gradient(rgb(77, 130, 221) 0%, rgba(38, 10, 194, 0.664) 100%);
}

#today{

    border: 1px solid black;
}

#search-button {
justify-content: left;
width: 100%;
text-align: left;
}

.weather-search {
    width: 100%;
}

#search-button {
    background-color: rgb(77, 130, 221);
    border-radius: 8px;
    margin-top: -1rem;
    padding-right: 8rem;
    color: aliceblue;
    
}

.card {
    background-color: rgba(38, 10, 194, 0.664);
    color: aliceblue;
    margin-right: .5rem;
   white-space: nowrap;
 
}


.todayBlock {
    background-color: rgba(38, 10, 194, 0.664);
}

#currentCity {
    display: inline;
}


.searchHistory {
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(38, 10, 194, 0.664);
    color: aliceblue
}

.searchHistory:hover {
    background-color: rgb(216, 125, 145);
}